.footer {
  background: #24305e;
  color: white;
}

.top-content {
  border-bottom: 1px solid white;
}

.footer__info p {
  margin-top: 2rem;
}

.top-content ul {
  list-style: none;
}

.top-content ul li {
  color: rgb(209, 209, 209);
}

.top-content ul li:hover {
  color: white;
  cursor: pointer;
}

.footer__links {
  color: rgb(209, 209, 209);
  text-decoration: none;
}

.footer__links:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
