.header {
  background: #f76c6c;
  border-bottom: 1px solid whitesmoke;
}

.header__login {
  background: rgb(255, 196, 0);
  border: 1px solid transparent;
  font: inherit;
  margin: 0.5em;
  padding: 0.6rem 1.2rem;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  color: white;
}

.header__login:hover {
  background: rgb(255, 218, 95);
  text-decoration: none;
  color: white;
}

.nav-link {
  margin: 0 1rem;
}

.create {
  color: white !important;
  font-weight: 500;
}

.profile_img {
  border: 1px solid transparent;
  border-radius: 50%;
}

.search {
  margin-top: 10px;
  font-size: 0.8rem;
}
