.editor-window {
  margin: 2rem 0;
}

.blog-title,
.notes {
  margin: 2rem 0;
}

.blog-title input {
  margin: 1rem 0;
}

.header_img::-webkit-file-upload-button {
  display: none;
}

.header_img_label {
  background: rgb(224, 82, 82);
  padding: 0.8rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.header_img_label:hover {
  background: rgb(240, 50, 50);
}

.notes {
  resize: none;
  height: 20rem !important;
}

.blog-content .ql-container {
  min-height: 30rem;
  width: 100%;
}

.create-blog-btns {
  margin: 2rem 0;
}

.create-blog-btn {
  margin-right: 2rem;
}
