.preview-content {
  margin: 2rem 0;
}

.preview-content img {
  width: 60% !important;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 868px) {
  .preview-content img {
    width: 90% !important;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}
